<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eswaraj.app.eswaraj" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".application.EswarajApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id_old" >
        </meta-data>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBvatkHkBtQ8lk6xtRnd4ZXTX8CgxfsZQQ" >
        </meta-data>

        <activity
            android:name=".activities.LoginActivity"
            android:label="Login to Continue"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.SelectAmenityActivity"
            android:label="@string/title_activity_select_amenity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.YoutubeActivity"
            android:label="@string/title_activity_youtube"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="Login to Continue" >
        </activity>
        <activity
            android:name=".activities.SelectTemplateActivity"
            android:label="@string/title_activity_select_template"
            android:parentActivityName=".activities.SelectAmenityActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eswaraj.app.eswaraj.activities.SelectAmenityActivity" />
        </activity>
        <activity
            android:name=".activities.AddDetailsActivity"
            android:label="@string/title_activity_add_details"
            android:parentActivityName=".activities.SelectTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eswaraj.app.eswaraj.activities.SelectTemplateActivity" />
        </activity>
        <activity
            android:name=".activities.MarkLocationActivity"
            android:label="@string/title_activity_mark_location"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ComplaintSummaryActivity"
            android:label="@string/title_activity_complaint_summary"
            android:parentActivityName=".activities.AddDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eswaraj.app.eswaraj.activities.AddDetailsActivity" />
        </activity>
        <activity
            android:name=".activities.MyComplaintsActivity"
            android:label="@string/title_activity_my_complaints"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.SingleComplaintActivity"
            android:label="@string/title_activity_single_complaint"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginDialogActivity"
            android:label="Log In to Continue"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".activities.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eswaraj.app.eswaraj.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ConstituencyActivity"
            android:label="@string/title_activity_constituency"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eswaraj.app.eswaraj.activities.HomeActivity" />
        </activity>
    </application>

</manifest>
